body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

h1 {
    color: #333;
}

.menu-item-image {
    width: 100%;
    height: auto;
    max-width: 200px;
    margin-bottom: 10px;
}
